/* ============================================ GENERAL ============================================ */
* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

p,
a,
li,
label,
input,
textarea,
button,
table {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00a9ff;
}

section {
  padding: 60px 0 40px;
}

section h2 {
  text-align: center;
  font-size: 26px;
  text-decoration: underline;
  margin-top: 0;
  /* margin: 60px 0 40px; */
}

/* ============================================ HEADER ============================================ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid #00a9ff;
}

#logo {
  margin: 0;
}

.nav-list,
.nav-list li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #00a9ff;
  padding: 8px 12px;
}

.nav-link:hover {
  color: #007cb9;
  text-decoration: underline;
}

/* main {
  margin-top: 60px;
} */

/* ============================================ CATALOG ============================================ */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 20%;
  margin: 10px;
  box-shadow: 0 4px 4px #00a9ff;
  border: 1px solid #fff;
  border-radius: 12px;
  /* filter: blur(1px); */
}

.card:hover {
  box-shadow: 0 0 4px #00a9ff;
  position: relative;
  bottom: 4px;
  /* filter: blur(0px); */
}

.card-body {
  padding: 0 16px;
}

.card-img {
  border-radius: 8px;
  width: 100%;
  max-height: 200px;
}

/* ============================================ PRICE ============================================ */
#price {
  background-color: #cdf5fd;
}

.price-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

/* ============================================ PRODUCT ============================================ */
.table-product {
  margin: 0 auto;
  border-collapse: collapse;
}

.table-product,
.table-product th,
.table-product td {
  border: 1px solid #00a9ff;
  padding: 10px;
}

.table-product th {
  background-color: #cdf5fd;
}

.table-product img {
  width: 160px;
}

/* ============================================ CONTACT ============================================ */
#contact {
  background-color: #cdf5fd;
}

#contact form {
  width: 50%;
  margin: 0 auto;
}

.contact-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-input input,
.contact-input textarea {
  height: 24px;
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  background-color: #fff;
}

.contact-input textarea {
  height: 100%;
}

.contact-input input:active,
.contact-input input:focus {
  outline: 2px solid #00a9ff;
}

.contact-btn {
  width: 120px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-submit {
  background-color: #00a9ff;
  color: #fff;
}

.contact-cancel {
  background-color: #fff;
  color: #00a9ff;
  border: 1px solid #00a9ff;
}

/* ============================================ ABOUT ============================================ */
#about {
  margin: 0 40px;
  text-align: justify;
  line-height: 1.5;
}

#about p {
  text-indent: 2em;
}

/* ============================================ FOOTER ============================================ */
footer {
  text-align: center;
  border-top: 1px solid #00a9ff;
}
